<div style='min-height: 100%;  position: relative; padding-bottom: 60px'>
  <app-nav></app-nav>
  <div  class='container  text-center'>
    <alert></alert>
  </div>
  <div  class='container text-center loading-container'>
    <div class="row"> 
      <div class="col-5"> </div>
      <div class="col loading align-self-center" *ngIf="spin">
          <mat-progress-spinner diameter="100" mode="indeterminate" *ngIf="spin"></mat-progress-spinner>
      </div>
      <div class="col-5"> </div>
    </div>
  </div>

  <ng-template #content let-modal> 
    <div class="modal-header"> 
        <h4 class="modal-title" 
            id="modal-basic-title"> 
            {{ticker}}
        </h4> 
        <button type="button" class="close"
                aria-label="Close" (click)= 
                "modal.dismiss('Cross click')"> 
            <span aria-hidden="true"> 
                × 
            </span> 
        </button> 
    </div> 
    <div class="modal-body"> 
        <form> 
            <div class="form-group"> 
                <label for="dateOfBirth"> 
                    Current Price: {{price}} 
                </label> 
                <div class="input-group"> 
                    <input id="purchase-quantity" 
                        class="form-control" 
                        placeholder="0" 
                        name="dp" 
                        type="number" 
                        [(ngModel)]="purchaseQuantity"> 
                </div> 
            </div> 
        </form> 
    </div> 
    <div class="modal-footer"> 
    	<span class='mr-auto' >Total: {{purchaseQuantity*price}}</span>
        <button type="button" 
            class="btn btn btn-success" 
            (click)="buyStock(modal)"
            [disabled]="purchaseQuantity <= 0"> 
            Buy 
        </button> 
    </div> 
  </ng-template> 


  <div class="container" *ngIf='validResponse'>
  	 <div class="row compact-row">
  	 	<h1 class="col " >{{ticker}}<span style="color:{{starColor}}"><fa-icon (click)="toggleStar()" [icon]="faStar" ></fa-icon></span></h1>

      <!-- green or red text -->
      <h1 *ngIf='!noChange' class="col $img_names" [className]="changePositive ? 'text-success' : 'text-danger'" style='text-align: right'>{{price| currency:'string':''}}</h1>
      
      <!-- black text -->
      <h1 *ngIf='noChange' class="col $img_names" style='color:black; text-align: right'>{{price| currency:'string':''}}</h1>
  	 </div>
  	 <div class="row compact-row">
  	 	<h2 class="col text-muted">{{name}}</h2>

      <!-- green or red numbers -->
      <h2 *ngIf='!noChange' [className]="changePositive ? 'text-success' : 'text-danger'" style='text-align: right; '> <fa-icon [icon]="faCaret"></fa-icon> {{change| number:'1.2-2'}} ( {{changePercent| percent:'.2-2'}} ) </h2>

      <!-- black numbers -->
      <h2 *ngIf='noChange' style='text-align: right; '> {{change| number:'1.2-2'}} ( {{changePercent| percent:'.2-2'}} ) </h2>

  	 </div> 
  	 <div class="row compact-row">
  	 	<h3 class="col text-muted">{{exchange}}</h3>
  	 	<h3 class="text-muted" style='text-align: right'>{{date}}</h3>
  	 </div>
  	 <div class="row compact-row">
  	 	<div class='col'>
  	 		<button class='btn-sm btn btn-success' (click)="open(content)">Buy</button>
  	 	</div>
  	 </div>
  	 <div class="row mt-4">
  	 	<div class="col"></div>
  	 	<h5 [className]="marketStatus ? 'bg-success text-success align-self-center' : 'bg-danger text-danger align-self-center'">{{market}}</h5>
  	 	<div class="col"></div>
  	 </div> 
  	<h2></h2>
	<mat-tab-group mat-stretch-tabs (click)="chartTabClick(false)">
	  <mat-tab label="Summary">
		  <div class="row">
	  	 	<div class="col info_col">
  				<div class="row">
  	 				<div class="col">
		  				<div class="row">High Price: {{hiPrice}}</div>
		  				<div class="row">Low Price: {{loPrice}}</div>
		  				<div class="row">Open Price: {{openPrice}}</div>
		  				<div class="row">Prev. Close: {{prevClose}}</div>
		  				<div class="row">Volume: {{volume}}</div> 
  	 				</div>
  	 				<div [className]="marketStatus ? 'col' : 'col d-none'"> 
		  				<div class="row">Mid Price: {{midPrice}}</div>
		  				<div class="row">Ask Price: {{askPrice}}</div>
		  				<div class="row">Ask Size: {{askSize}}</div>
		  				<div class="row">Bid Price: {{bidPrice}}</div>
		  				<div class="row">Bid Size: {{bidSize}}</div>
  	 				</div>
  				</div>
  				<div class="col">
	  				<div class="row"><h3 class='col text-center font-weight-bold'>Company's Description</h3></div>
	  				<div class="row">Start Date: {{startDate}}</div>
	  				<div class="row">{{desc}}</div>
  				</div>
	  	 	</div>
	  	 	<div class="col chart_col">
  			  <highcharts-chart
  			    [Highcharts]="Highcharts"
  			    [constructorType]="'stockChart'"
  			    [options]="chartOptions"
  			    [update]="updateFlag"
  				  [oneToOne]="true">
  			  </highcharts-chart>
	  	 	</div>
		  </div>
	  </mat-tab>
	  <mat-tab label="Top News" (click)="chartTabClick(false)">
	  	<div class='container'>
			<div *ngFor="let card of cards; index as i; let odd=odd">
				<div *ngIf='odd' class='news-row row justify-content-center'>
					<app-card [rawCardData]=cards[i] class='col-md-5'></app-card>
          <!-- <div class='col-md-1'></div> -->
					<app-card *ngIf="i + 1 < cards.length" [rawCardData]=cards[i+1] class='col-md-5'></app-card>
				</div>
			</div>
		</div>
	  </mat-tab>
	  <mat-tab label="Charts" (click)="chartTabClick(true)">
		  <highcharts-chart
		    [Highcharts]="Highcharts2" 
		    [constructorType]="'stockChart'"
		    [options]="chartOptions2"
		    [update]="updateFlag2"
			  [oneToOne]="true">
		  </highcharts-chart>
	  </mat-tab>
	</mat-tab-group>
  </div>
</div>
