h1{
	font-size:2.5rem;
	font-weight: bold;
}
h1 fa-icon{
	vertical-align: .5rem;
	font-size: 1.5rem;
	margin-top:10px;
}

.bg-success{
	background-color: rgba(40, 167, 69, .25) !important;
}
.bg-danger{
	background-color: rgba(220, 53, 69, .25) !important;
}

.info_col .row{
	margin:0;
}

app-card{
	padding-top: 2vh;
}

.compact-row{
	margin-bottom: -1vh;
}
