<div>
  <app-nav></app-nav>
  <div class="container">
  	 <div class="row">
  	 	<h1 class="col" >{{ticker}} <fa-icon (click)="toggleStar()" [icon]="faStar"></fa-icon></h1>
  	 	<h1 class="col" [className]="changePositive ? 'text-success' : 'text-danger'" style='text-align: right'>{{price| currency:'string':''}}</h1>
  	 </div>
  	 <div class="row">
  	 	<h2 class="col text-muted">{{name}}</h2>
  	 	<!-- <h2 id='header-change'><fa-icon [icon]="farCaretDown"></fa-icon>{{change}}({{percent}})</h2> -->
  	 	<h2 class="col" [className]="changePositive ? 'text-success' : 'text-danger'" style='text-align: right'> <fa-icon [icon]="faCaret"></fa-icon> {{change| number:'1.2-2'}} ( {{changePercent| percent:'.2-2'}} ) </h2>
  	 </div> 
  	 <div class="row">
  	 	<h3 class="col text-muted">{{exchange}}</h3>
  	 	<h3 class="col text-muted" style='text-align: right'>{{date}}</h3>
  	 </div>
  	 <div class="row">
  	 	<div class='col'>
  	 		<button class='btn-sm btn btn-success'>Buy</button>
  	 	</div>
  	 </div>
  	 <div class="row">
  	 	<div class="col"></div>
  	 	<h6 [className]="marketStatus ? 'bg-success align-self-center' : 'bg-danger align-self-center'">{{market}}</h6>
  	 	<div class="col"></div>
  	 </div> 
  	<h2></h2>
	<mat-tab-group mat-stretch-tabs class='row'>
	  <mat-tab label="Summary">
		  <div class="container">
	  	 	<div class="col info_col">
  				<div class="row">
  	 				<div class="col">
		  				<div class="row">High Price: {{hiPrice}}</div>
		  				<div class="row">Low Price: {{loPrice}}</div>
		  				<div class="row">Open Price: {{openPrice}}</div>
		  				<div class="row">Prev. Close: {{prevClose}}</div>
		  				<div class="row">Volume: {{volume}}</div>
  	 				</div>
  	 				<div [className]="marketStatus ? 'col' : 'col d-none'"> 
		  				<div class="row">Mid Price: {{midPrice}}</div>
		  				<div class="row">Ask Price: {{askPrice}}</div>
		  				<div class="row">Ask Size: {{askSize}}</div>
		  				<div class="row">Bid Price: {{bidPrice}}</div>
		  				<div class="row">Bid Size: {{bidSize}}</div>
  	 				</div>
  				</div>
  				<div class="col">
	  				<div class="row"><h3 class='col text-center font-weight-bold'>Company's Description</h3></div>
	  				<div class="row">Start Date: {{startDate}}</div>
	  				<div class="row">{{desc}}</div>
  				</div>
	  	 	</div>
	  	 	<div class="col chart_col">
	  	 		<highcharts-chart 
				  [Highcharts]="Highcharts"
				  [update]="updateFlag"
				  [options]="chartOptions"
				  [oneToOne]="true"
				></highcharts-chart>
	  	 	</div>
		  </div>
	  </mat-tab>
	  <mat-tab label="Top News">
	  </mat-tab>
	  <mat-tab label="Charts">
	  </mat-tab>
	</mat-tab-group>
  </div>
</div>
