
<div *ngIf='!removed'> 


  <ng-template #buyContent let-modal> 
    <div class="modal-header"> 
        <h4 class="modal-title" 
            id="modal-basic-title"> 
            {{ticker}}
        </h4> 
        <button type="button" class="close"
                aria-label="Close" (click)= 
                "modal.dismiss('Cross click')"> 
            <span aria-hidden="true"> 
                × 
            </span> 
        </button> 
    </div> 
    <div class="modal-body"> 
        <form> 
            <div class="form-group"> 
                <label for="price"> 
                    Current Price: {{price}} 
                </label> 
                <div class="input-group"> 
                    <input id="purchase-quantity" 
                        class="form-control" 
                        placeholder="0" 
                        name="dp" 
                        type="number" 
                        [(ngModel)]="purchaseQuantity"> 
                </div> 
            </div> 
        </form> 
    </div> 
    <div class="modal-footer"> 
      <span class='mr-auto' >Total: {{purchaseQuantity*price}}</span>
        <button type="button" 
            class="btn btn btn-success" 
            (click)="buyStock(modal)"
            [disabled]="purchaseQuantity <= 0"> 
            Buy 
        </button> 
    </div> 
  </ng-template> 

  <ng-template #sellContent let-modal> 
    <div class="modal-header"> 
        <h4 class="modal-title" 
            id="modal-basic-title"> 
            {{ticker}}
        </h4> 
        <button type="button" class="close"
                aria-label="Close" (click)= 
                "modal.dismiss('Cross click')"> 
            <span aria-hidden="true"> 
                × 
            </span> 
        </button> 
    </div> 
    <div class="modal-body"> 
        <form> 
            <div class="form-group"> 
                <label for="price"> 
                    Current Price: {{price}} 
                </label> 
                <div class="input-group"> 
                    <input id="purchase-quantity" 
                        class="form-control" 
                        placeholder="0" 
                        name="dp" 
                        type="number" 
                        [(ngModel)]="purchaseQuantity"> 
                </div> 
            </div> 
        </form> 
    </div> 
    <div class="modal-footer"> 
      <span class='mr-auto' >Total: {{purchaseQuantity*price}}</span>
        <button type="button" 
            class="btn btn btn-success" 
            (click)="sellStock(modal)"
            [disabled]="purchaseQuantity <= 0 || purchaseQuantity > quantity"> 
            Sell 
        </button> 
    </div> 
  </ng-template> 

  <div class="card bg-light text-left">
    <div class="card-header" routerLink="/details/{{ticker}}">
      <h1>
          {{ticker}}
          <small class='text-muted'>{{name}}</small>
      </h1>
    </div>
    <div class="card-body">
      <div class='row'>
        <div class='col-md-6 col-sm-12'>
          <div class='row'>
            <p class="card-text col text-left">Quantity:</p>
            <p class="card-text col text-right">{{quantity}}</p>
          </div>
          <div class='row'>
            <p class="card-text col col-md-9 text-left">Avg. Cost / Share:</p>
            <p class="card-text col col-md-3 text-right">
              {{avgCost| number:'1.2-2'}}
            </p>
          </div>
          <div class='row'>
            <p class="card-text col text-left">Total Cost:</p>
            <p class="card-text col text-right">
              {{totalCost| number:'1.2-2'}}
            </p>
          </div>
        </div>
        <div class='col-md-6 col-sm-12'>
          <div class='row'>
            <p class="card-text col text-left">Change:</p>
            <p *ngIf='!noChange' [className]="changePositive ? 'text-success card-text col text-right' : 'text-danger col card-text text-right'"><fa-icon [icon]="faCaret"></fa-icon>     {{change| number:'1.2-2'}}</p>
         
              <!-- black numbers -->
            <p *ngIf='noChange' class='card-text col text-right '> {{change| number:'1.2-2'}} </p>
          </div>
          <div class='row'>
            <p class="card-text col text-left">Current Price:</p>

            <p *ngIf='!noChange' [className]="changePositive ? 'text-success card-text  col text-right' : 'text-danger col card-text text-right'">{{price| number:'1.2-2'}} </p>
         
              <!-- black numbers -->
            <p *ngIf='noChange' class='card-text col text-right'> {{price| number:'1.2-2'}} </p>

          </div>
          <div class='row'>
            <p class="card-text col text-left">Market Value:</p>
            <p *ngIf='!noChange' [className]="changePositive ? 'text-success card-text col text-right ' : 'text-danger col card-text text-right '">{{marketVal| number:'1.2-2'}} </p>
       
            <!-- black numbers -->
            <p *ngIf='noChange' class='card-text col text-right '> {{marketVal| number:'1.2-2'}} </p>
          </div>
        </div>
      </div>
    </div>


  
    <div class="card-footer text-muted text-right">
      <button type="button" (click)='open(buyContent)' class="btn btn-primary ml-3">Buy</button>
      <button type="button" (click)='open(sellContent)' class="btn btn-danger ml-3">Sell</button>
    </div>
  </div>
</div> 