
#ig-container{
	margin-left:40%;
	margin-top:5% ;
}
.btn-outline-secondary{
	border-color: var(--indigo); 
	border-style: inset;
	border-width: 3px;
	/*I know using important is bad but so is using angular with bootstrap*/
	border-radius: 15px !important;
	border-top-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.form-control{
	border-color: var(--indigo);
	border-width: 3px;
	border-radius: 15px;
	outline: 0 none;
}

.form-control:focus {
    outline: 0 !important;
    border-color: initial;
    box-shadow: none;
}
.input-group-append {
    margin-top: -2px;
}
input:focus{
	border-color: var(--indigo); 
	outline: 0 none;
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }