<div style='min-height: 100%;  position: relative; padding-bottom: 60px'>
	<app-nav></app-nav>
	
	<div  class='container text-center loading-container'>
		<div class="row"> 
		  <div class="col-5"> </div>
		  <div class="col loading align-self-center" *ngIf="spin">
		      <mat-progress-spinner diameter="100" mode="indeterminate" *ngIf="spin"></mat-progress-spinner>
		  </div>
		  <div class="col-5"> </div>
		</div>
	</div>
	<div  class='container' *ngIf="!spin">
		<h2 class='row'>My Watchlist</h2>
		<div *ngFor="let card of cards" class='row'>
			<app-wcard [rawCardData]=cards[i] class="card col "></app-wcard>
		</div>
	</div>
</div>